.topright {

    background-color: black;
    border:  dotted whitesmoke;
    border-color: white;
    position: sticky;
    float: left;color: whitesmoke;
    position: sticky;
}

h1, p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.pz {

    padding-top: 300px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

.PZA {

   padding-left: 20px;
   padding-right: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    size: 150px;
}

body {
    background-image: url('Rock-paper-scissors.svg.png');
    background-repeat: no-repeat;
    background-position: top;

}

nav {
    background-color: black;
    color: whitesmoke;
}


.mid {
    background-color: black;
}
